&nbsp;
<h3>THE DEVICE IS MORE THAN A FILTER</h3>
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Strong Kangen Water 11.0 pH
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            Not for drinking. Emulsifies Oil - Cleans Food & More. Strong Kangen Water preserves hygiene in your daily life due to its strong cleaning effect. It has dissolving and heat conducting benefits. Usage: food preparation and cleaning.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Kagen Water 8.5 to 9.5 pH
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          This type of water is perfect for drinking and healthy cooking. This electrolytically-reduced, hydrogen-rich water works to restore your 
          body to a more alkaline state, which is optimal for good health. Usage: drinking, food preparation, coffee and tea, soups and stews, and 
          watering plants. Kangen Water® is also friendly to your budget and to the Environment. Forget about buying and storing all those expensive 
          plastic water bottles!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Clean Water 7.0 pH
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Free of chlorine, rust and cloudiness. Neutral water is delicious drinking water. Usage: preparing baby food, taking medication.       
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Beauty Water 4.0-6.0 pH
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Not for drinking. This slightly acidic water is recognized for its astringent effects. It's terrific to use for gentle cleaning and 
              beauty care. Usage: face wash, hair care, pet care, polishing, cleaning, and preserving frozen food.         
             </div>
        </div>
      </div>
  </div>



<!--<div class="d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/bottledwater.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/bottledwater.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>-->
  &nbsp;
  <div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-1.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
  </div>
  &nbsp;
  <div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-2.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
</div>
&nbsp;
<div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-3.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
</div>
&nbsp;
<div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-4.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
</div>
&nbsp;
<div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-5.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
</div>
&nbsp;
<div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-6.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
</div>
&nbsp;
<div class="d-flex justify-content-center">
  <figure class="figure">
    <img src="static/ben-7.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption"></figcaption>
  </figure>
</div>