<style>
    
    .navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
  }
.active a {
  background-color: #0B9654 !important;
}
button.btn.btn-outline-success.my-2.my-sm-0 {
    color: #ffff;
}

</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #563d7c !important">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-center navmukclick">
            <li class="nav-item navmukchildclass firstclick active">
              <a class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0">HOME</button></a>
            </li>
            <li class="nav-item navmukchildclass">
                <a class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0">TESTIMONIALS</button></a>
              </li>
            <li class="nav-item navmukchildclass">
              <a class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0">BENEFICTS</button></a>
            </li>
            <li class="nav-item navmukchildclass">
                <a class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0">CONTACT</button></a>
              </li>
              <li class="nav-item navmukchildclass">
                <a class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0">FEEDBACK</button></a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="mainblock">
         
      </div>
        <!-- Footer -->
     <footer class="page-footer font-small blue" style="background-color: #563d7c;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 navbar-fixed-bottom" style="color: #ffffff;">© 2020 Copyright:
      <a href="https://mdbootstrap.com/" style="color: #ffffff;"> Team3Health.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            $( document ).ready(function() {
              $('.firstclick').trigger('click')
            });
            $('.navmukclick').on('click','.navmukchildclass',function(event){
                $('.navmukchildclass').removeClass('active');
                $(event.currentTarget).addClass('active');
                $.ajax(
                  {
                    url:'/health/'+event.currentTarget.innerText.toLowerCase(),
                    type:'GET',
                    success:function(data)
                            {
                              $('.mainblock').html(data)
                              console.log(data)
                            },
                    error:function(data)
                          {
                            console.log('error');
                          }
                    });
            });
   

        </script>
</body>
</html>
