<style>
    .mainblock {
    padding: 3% !important;
}
</style>
<div class="container-fluid">
    <div class="infos">
        <div class="address-box" id="search-address"><b><font color="#FF8701">New York Office</font></b><br>
3636 33rd street Suite 101<br>
Astoria NY 11106<br>
<br>
<a href="mailto:ny-sales@enagic.com"><u>ny-sales@enagic.com</u></a><br>
TEL: +1 718 784-2110<br>
FAX: +1 718 784-2103<br>
<br>
<b>Office hours:</b><br>
Eastern Timezone (EST)<br>
Mon-Fri 9am - 5pm<br>
Sat 10am - 2pm</div>
        <ul class="social-links">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span class="hidden">&nbsp;facebook</span></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span class="hidden">&nbsp;twitter</span></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i><span class="hidden">&nbsp;youtube</span></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="hidden">&nbsp;google-plus</span></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span class="hidden">&nbsp;pinterest</span></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i><span class="hidden">&nbsp;instagram</span></a></li>
        </ul>
        <div class="text-block">
            <h3>Areas Covered:</h3>
            <p id="search-areas">Maine, New Hampshire, Vermont, Rhode Island, Massachusetts, Connecticut, New Jersey, Pennsylvania, Delaware, Maryland, West Virginia, Virginia, New York</p>
        </div>
    </div>
</div>