<style>
    .cust-font{
        color:purple
    }
    .row{
        margin-left:0px !important;
    }
    .cust-img{
        width: 60%;
    }
    .cust-pad{
        padding-left:10%;
    }
    .cust-line{
        padding-top: 1%;
    }
    .cust-padd-header 
    {
        padding-left:7%;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12" class="cust-font"><h3 class="cust-font">Given that, your body is made up of 70% of water, What are you made up of?</h3></div>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 cust-padd-header cust-font-head"><h1>Tap Water</h1></div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 cust-pad"><img class="cust-img" src="static/Tapwater.jpg" /></div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row cust-line"></div>
<div class="row">
    <div class="col-lg-7">
        <h6 class="cust-font">Over 315 chemical pollutants are found in North America’s tap water. - Environmental Working Group. </h6>
        <h6 class="cust-font">Chlorine is a known harmful toxin and carcinogen.</h6> 
        <h6 class="cust-font">Heavy metals and other toxic contaminants from city pipes<br><h6 class="cust-font">Unsafe levels of lead in Toronto tap water-report. - Global News</h6></h6> 
        <h6 class="cust-font"></h6>
    </div>
    <div class="col-lg-5 cust-pad"><img class="cust-img" src="static/leadwater.jpg" /></div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 cust-padd-header cust-font-head"><h1>Purified Water</h1></div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 cust-pad"><img class="cust-img" src="static/reverseosmosis.jpg" /></div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row cust-line"></div>
<div class="row">
    <div class="col-lg-7">
        <h6 class="cust-font">Reverse Osmosis or Distilled filtration are processes that create purified water removing essential minerals, like Ca, Mg and Na.  </h6>
        <h6 class="cust-font">Drinking water sources are important dietary sources of minerals, Ca, Mg and Na because they are “highly bioavailable” - McGill University</h6> 
        <h6 class="cust-font">Demineralized water "has a definite adverse influence on the animal and human organism.” – World Health Organization</h6> 
        <h6 class="cust-font"></h6>
    </div>
    <div class="col-lg-5 cust-pad"><img class="cust-img" src="static/purifiedwater.png" /></div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 cust-padd-header cust-font-head"><h1>Bottled Water</h1></div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 cust-pad"><img class="cust-img" src="static/bottledwater.jpg" /></div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row cust-line"></div>
<div class="row">
    <div class="col-lg-7">
        <h6 class="cust-font">Microplastics found in 93% of bottle water brands tested in a global study. – University of NY</h6>
        <h6 class="cust-font">Toronto consumes an estimated 100 million plastic bottles a year, of which 35% are not recycled. – York University</h6> 
        <h6 class="cust-font">If you drink the recommended 8 glasses of water per day, you will spend roughly $1,400 CDN per year on bottled water.  - Polaris Institute</h6> 
        <h6 class="cust-font"></h6>
    </div>
    <div class="col-lg-5 cust-pad"><img class="cust-img" src="static/bottle.jpg" /></div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 cust-padd-header cust-font-head"><h1>Kangen Water</h1></div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 cust-pad"><img class="cust-img" src="static/kangenwater.png" /></div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row cust-line"></div>
<div class="row">
    <div class="col-lg-7">
        <h6 class="cust-font">Filter your tap water</h6>
        <h6 class="cust-font">Produce's ionized alkaline and acidic waters through electrolysis.</h6> 
        <h6 class="cust-font">These waters can be used for various purposes, including drinking, cooking, beauty, and cleaning.</h6> 
        <h6 class="cust-font"></h6>
    </div>
    <div class="col-lg-5 cust-pad"><img class="cust-img" src="static/ionization.png" /></div>
</div>
<div class="row cust-line"></div>
<div class="row cust-line"></div>
<div class="row cust-line"></div>
